node_modules
/public
/public/hot
/public/storage
/public/css
/public/img
/public/fonts
/public/js
/public/s
/public/admin_assets/**/*.gz
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
/public/sitemap.xml
