.footer {
    border-top: 4px solid $greenDark;
    padding-top: 44px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    @media #{$desktop} {
        padding-top: 60px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__copyright  {
        color:  $greenDark;
        font-size: $text-sm;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
   
        margin-bottom: 10px;
        @media #{$desktop} {
            margin-bottom: 0px;
        }
    }
    ul {

        margin-left: auto;
        @media #{$desktop} {
            margin-left: auto;
        }
        li {
            margin-bottom: 2px;
            @media #{$desktop} {
                margin-bottom: 2px;
   
            }
            &:last-child {
                margin-bottom: 0;
                @media #{$desktop} {
                    margin-bottom: 0;
                }
            }
        }
        a {
            color:$greenDark;
            font-size: $text-sm;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2;
        }
    }
}
.page--green {
    .footer {
        border-top: 4px solid $grayLight;
        &__copyright  {
            color: $grayLight;
        }
        ul {
            a {
                color: $grayLight;
            }
        }
    }
}