.footer {
    border-top: 4px solid #205038;
    padding-top: 44px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    &__copyright  {
        color:  #205038;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
   
        margin-bottom: 10px;
    }
    ul {

        margin-left: auto;
        li {
            margin-bottom: 2px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            color:#205038;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
        }
    }
}
@media (min-width: 992px) {
	.footer {
        padding-top: 60px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        &__copyright  {
   
            margin-bottom: 0px;
        }
        ul {
     
            margin-left: auto;
            li {
                margin-bottom: 2px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}