.page {
    &--gray {
        background: $grayLight;
    }
    .container {
        @media #{$desktop}  {
            display: grid;
            grid-template-columns: 255px 1fr;
            margin: 0 auto;
        }
    }
    
}

.layout-main {
    position: relative;
    display: flex;
    flex-direction: column;
    @media #{$desktop} {
        padding: 0 30px 0 10px;
    }
}
.feed-item {
    margin-bottom: 28px;
    padding-top: 10px;
    border-top: 4px solid $greenDark;
    @media #{$desktop} {
        margin-bottom: 40px;
        padding-top: 12px;
    }
    &__date {
        color: $greenDark;
        font-size: $text-sm;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
    }
    &__title  {
        color:  $greenDark;
        font-family: $HalvarBreit;
        font-size: $text-lg;
        font-style: normal;
        font-weight: 700;
        line-height: 0.8; 
        text-transform: uppercase;
        margin-bottom: 14px;
        display: block;
        margin-left: auto;
        @media #{$desktop}  {
            font-size: $text-xxl;
            font-weight: 700;
            margin-bottom: 20px;
        }
        &--gold  {
            color: $goldDark;
        }
    }
    &__img {
        img {
            width: 100%;
        }
    }
}

.contact-item {
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 4px solid $greenDark;
    @media #{$desktop}  {
        padding-top: 12px;
        margin-bottom: 12px;
    }
    &__title  {
        color:  $greenDark;
        font-family: $HalvarBreit;
        font-size: $text-lg;
        font-style: normal;
        font-weight: 700;
        line-height: 0.8; 
        text-transform: uppercase;
        margin-bottom: 14px;
        margin-left: auto;
        display: block;
        &--gold  {
            color: $goldDark;
        }
        @media #{$desktop} {
            font-size: $text-xxl;
            font-weight: 700;
            margin-bottom: 20px;
        }
    }
    &-top {
        display: flex;
        justify-content: space-between;
    }
    &__plus {
        @include svgIcon(100%);
        width: 28px;
            height: 28px;
        display: block;
        > svg {
            fill: $greenDark;
        }

        @media #{$desktop} {
            width: 50px;
            height: 50px;
        }
    }
    &__btn {

        margin-top: 46px;
        margin-left: auto;
        @media #{$desktop} {
            margin-top: 100px;
        }
    }
}