.main-menu {
    order: 1;
    position: sticky;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-top: 4px solid $greenDark;
    background: $grayLight;
    z-index: 10;
    @media #{$desktop}  {
        order: -11;
        width: 100%;
        bottom: auto;
        top: 0;
        padding: 14px 0 12px;
        border-top: none;
    }
    &__logout {
        display: flex;
        align-items: center;
        &__name {
            color: $greenDark;
            font-size: $text-sm;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2;
            margin-right: 8px;
        }
        button {
            width: 16px;
            height: 16px;
            padding: 0;
            border: none;
            box-shadow: none;
            outline: none;
            background: transparent;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        &__icon {
            @include svgIcon(100%);
            width: 16px;
            height: 16px;
            display: block;
            > svg {
                fill: $greenDark;
            }
        }
    }
    &__item {
        ul {
            display: flex;
            li {
                margin-left: 20px;
            }
        }
        a {
            color: $greenDark;
            font-family: $HalvarBreit;
            font-size: $text-sm;
            font-style: normal;
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;
        }
    }
}