<div class="main-menu">
    <form class="main-menu__logout">
        <input type="hidden" value="vitalik.eth">
        <div class="main-menu__logout__name">vitalik.eth</div>
        <button><svg xmlns="http://www.w3.org/2000/svg"
                width="16" height="17" viewBox="0 0 16 17"
                fill="none">
                <path d="M5 1.5H2V15.5H5"
                    stroke="#205038" />
                <path d="M14 8.5L6 8.5" stroke="#205038" />
                <path
                    d="M10.3161 3.50004L12.9161 6.10004C14.3587 7.42552 14.3587 9.57455 12.9161 10.9L10.3161 13.5"
                    stroke="#205038" />
            </svg>
        </button>
    </form>
    <ul class="main-menu__item">
        <li>
            <a href="#">my collection</a>
        </li>
    </ul>
</div>