<div class="main-menu">
    <form class="main-menu__logout">
        <input type="hidden" value="vitalik.eth">
        <div class="main-menu__logout__name">vitalik.eth</div>
        <button>
            <div class="main-menu__logout__icon">
                <svg class="icon">
                    <use xlink:href="#logOutIcon"></use>
                </svg>
            </div>
            
        </button>
    </form>
    <ul class="main-menu__item">
        <li>
            <a href="#">my collection</a>
        </li>
    </ul>
</div>