$phone: "(min-width: 375px)";
$phone-medium: "(min-width: 410px)";
$phone-big: "(min-width: 480px)";
$tablet: "(min-width: 768px)";
$tablet-max: "(max-width: 1024px)";
$desktop: "(min-width: 1024px)";
$desktop-middle:  "(min-width: 1440px)";
$desktop-large: "(min-width: 1920px)";
$portrait: "(orientation: portrait)";